<div class="bubble-container">
    <div class="bubble-inside-container">
        <i class="fa fa-phone"></i>
    </div>
    <span class="itim-regular"><a href="tel:+13828851572">382-885-1572</a></span>
</div>