<footer>
    <div class="fm-container-default">
        <div class="fm-company"></div>
        <div class="fm-quick-links"></div>
        <div class="fm-contact"></div>
    </div>
    <div class="fm-container-default itim-regular fm-copyright">
        <span>© <%= new Date().getFullYear() %> Fademan. All Rights Reserved</span>
    </div>
</footer>
</body>
</html>