<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fademan Saloon</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <img src="images/logo-fademan.png" alt="company logo">
                    </a>
                </li>
                <li>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about-us">About Tinu</a></li>
                        <li><a href="/service">Service</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>