<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fademan Saloon</title>
    <link rel="icon" type="image/svg+xml" href="images/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Itim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <header class="itim-regular">
        <nav class="fm-container-default">
            <ul>
                <span>
                    <a href="/">
                        <img src="images/logo-fademan.png" alt="company logo">
                    </a>
                </span>
                <li>
                    <ul>
                        <li><a class="<%= locals.currentPath === '/' ? 'active' : '' %>" href="/">Home</a></li>
                        <li><a class="<%= locals.currentPath === '/service' ? 'active' : '' %>"
                                href="/service">Service</a></li>
                        <li><a class="<%= locals.currentPath === '/testimonials' ? 'active' : '' %>"
                                href="/testimonials">Testimonials</a></li>     
                        <li><a class="<%= locals.currentPath === '/about-us' ? 'active' : '' %>" href="/about-us">About
                            Tinu</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>