<%- include('partials/header.ejs') %>
    <div class="fixed-header-height"></div>
    <main>
        <section class="fm-container-default">
            <h1>about-us page</h1>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>