<%- include('partials/header.ejs') %>
<%- include('partials/bubble.ejs') %>

    <div class="fixed-header-height"></div>
    <main>
        <section class="hero-section">
            <div class="fm-container-default fm-h-100">
                <div class="fm-container-wrapper fm-h-100">
                    <h1>Exceptional Hair Care</h1>
                    <p>Welcome to Fademan Hair Salon, where our skilled stylists deliver top-notch haircuts, threading, and styling services. Our clients rave about our friendly staff and meticulous attention to detail. </p>
                    <a class="fm-btn-primary" href="/service">Check out service</a>
                </div>
            </div>
        </section>

        <section class="section-info-wrapper fm-container-default">
            <div class="fm-box">
                <h1>1k+</h1>
                <p>Satisfied Clients</p>
            </div>
            <div class="fm-box">
                <h1>500+</h1>
                <p>Haircuts Per Month</p>
            </div>
            <div class="fm-box">
                <h1>300+</h1>
                <p>Positive Reviews</p>
            </div>
            <div class="fm-box">
                <h1>20+</h1>
                <p>Years of Experience</p>
            </div>
        </section>

        <section class="map-section fm-flex">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2897.387230824918!2d-80.45164332337282!3d43.4316279667327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b8b73123c77ad%3A0x8dfef0886caa42a3!2sFademan!5e0!3m2!1sen!2sca!4v1718327848371!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>

        
    </main>
    <%- include('partials/footer.ejs') %>