<%- include('partials/header.ejs') %>
    <div class="fixed-header-height"></div>
    <main>
        <section class="hero-section">
            <div class="fm-container-default fm-h-100">
                <div class="fm-container-wrapper fm-h-100">
                    <h1>What we offer</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos sit laboriosam placeat
                        provident laborum sequi eius voluptas reiciendis unde explicabo!</p>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer.ejs') %>