/* Header styles goes here */
header {
    background-color: var(--primary-bg-color);
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
}

header nav ul,
header nav ul ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header li {
    margin-left: 30px;
}

header a {
    color: var(--primary-text-color);
}


/* Footer styles goes here */

footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding-block: 10px;
}

footer .fm-copyright {
    display: flex;
    justify-content: center;
}


/* main */
main {
    min-height: calc(100svh - (108px + 40px));
}

/* testimonial */

.testimonial p {
    margin-top: 5px;
}

/* service */
.fm-service-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 15px;
}

.fm-liner {
    width: 100%;
    border-bottom: 2px dotted var(--primary-text-color);
    flex: 1;
    margin-inline: 20px;
}

.fm-service-name,
.fm-service-price {
    width: max-content;
    white-space: nowrap;
    flex: 0;
    font-size: 1.6rem;
    font-family: "Itim", cursive;
}

.fm-service-name {
    cursor: pointer;
}

.fm-section-heading {
    margin-block: 30px;
    font-size: 1.8rem;
}

/* homepage */
.map-section iframe {
    width: 100%;
    height: 700px;
}

.achievement-section {
    display: flex;

}

.achievement-section h1 {
    font-size: 3rem;
}

/* About us */

.fm-section-content-wrapper {
    display: flex;
}

.fm-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fm-interest-list,
.fm-interest-list li {
    display: flex;
    flex-wrap: wrap;
}

.fm-interest-list li>span {
    border: 1px solid var(--primary-bg-color);
    padding: 10px 20px;
    margin-right: 0;
    transition: all 300ms;
}

.fm-interest-list li>span:hover {
    background-color: #ffffba;
    cursor: pointer;
}


.fm-content span {
    padding: 0px 4px;
    background-color: #ffffba;
    border-radius: 3px;
}

@media only screen and (max-width: 1200px) {
    .fm-image { display: none }
}