* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: var(--font-family-1);
}

.fixed-header-height {
  height: 108px;
}

.fm-my-12 {
  margin-block: 12px;
}

.fm-py-30 {
  padding-block: 30px;
}

.fm-text-center {
  text-align: center;
}

/* utilities */
.fm-container-default {
  max-width: 1272px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.fm-star {
  color: #eea519;
  font-size: 1.8rem;
}

.fm-h-100 {
  height: 100%;
}

.active {
  position: relative;
  color: #b4b400;
}

.active::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #b4b400;
  border-radius: 10% 10% 40% 40%;
  bottom: -12px;
  left: 0;
}

.fm-grey-card {
  margin-top: 15px;
  padding: 20px;
  background: #ececec;
  border-radius: 10px;
}

/* Fonts */
.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.fm-btn-primary {
  color: black;
  background: #b4b400;
  width: max-content;
  padding: 8px 15px;
  border-radius: 19px 35px 20px 29px;
  margin-top: 20px;
}

.fm-btn-primary:hover {
  color: black;
  background: #fdfd09;
}

.fm-box {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: var(--secondary-bg-color);
}